/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
a {
    text-decoration: none;
    color : inherit;
}
ul {
    list-style: none;
}
/*---------ヘッダーのスタイル---------*/
.header {
    background-color: #ffe4d2;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.header-left {
}
.header-right ul {
    display: flex;
    width: 100%;
    line-height: 60px;
}
.header-right li {
    margin-right: 10px;
}

/*---------コンテナ---------*/
main {
    margin-top: 30px;
}
.container {
    margin: 0 auto;
    width: 700px;
    border: 1px solid #000;
    background: #dceaf8;
    padding: 40px 60px;
    box-sizing: border-box;
    overflow: hidden;
}
.admin-container {
    border: none;
}
/*.container-thread-detail {*/
/*    margin: 0 auto;*/
/*    width: 640px;*/

/*    border: 1px solid #000;*/
/*    background: #dceaf8;*/
/*    padding: 40px 60px;*/
/*    box-sizing: border-box;*/
/*}*/

.container h2 {
    text-align: center;
}
.form-group {
    margin: 10px;
}
.form-inline {
    display: inline;
}
.btn-wrapper {
    margin-top: 35px;
    text-align: center;
}
.btn-right {
    text-align: right;
}
.btn {
    padding: 7px 35px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}
.btn-default {
    color: #fff;
    background-color: #406bca;
}
.btn-back, .btn-admin-member {
    color: #406bca;
    background-color: #fff;
    border: 1px solid #406bca;
}
.btn-header, .btn-footer {
    border: 1px solid #000000;
    border-radius: 0;
}
.inline {
    display: inline;
}
.register-complete-container {
    min-height: 400px;
}
.register-complete-text {
    text-align: center;
    margin-top: 20px;
}
.err-msg {
    color: #ff0000;
}
input:disabled {
    opacity: 0.7;
}
.bg-color_white {
    background-color: #fff;
}
table tr td {
    padding: 10px;
}
table tr td a {
    color: #406bca;
}
.gray-area {
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
    height: 30px;
    background-color: #cccccc;
}

.gray-area-inner {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.gray-area-inner a {
    padding-right: 5px;
    padding-left: 5px;
}
.thread-content-area {
    border-radius: 30px;
    border: 1px solid #406bca;
    color: #406bca;
    margin-top: 10px;
    padding: 0 10px;
}
.thread-detail-time {
    text-align: right;
}
.thread-confirm-group {
    margin-top: 20px;
    display: flex;
}
.thread-confirm-title {
    width: 200px;
}
.thread-confirm-text {
    width: 400px;
    word-break: break-all;
}
.thread-detail-content {
    word-break: break-all;
}
.comment-area {
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px #cccccc solid;
}
.gray-area-inner .active {
    color: #406bca;
}
.gray-area-inner .disabled {
    pointer-events:none;
    color: #7d7d7d;
}
.icon-area {
    margin-top: 5px;
    text-align: right;
    padding-right: 150px;
}
.icon-area i {
    margin-right: 5px;
}
.btn-submit {
    cursor: pointer;
}
.red {
    color: red;
}

/*footerのスタイル*/
.footer {
    background-color: #ffe4d2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
}
.footer a {
    margin-right: 40px;
}
.withdraw-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.withdraw-container p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.admin-header {
    background-color: #c1c1c1;
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.admin-footer {
    background-color: #c1c1c1;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
}
.admin-main {
    background-color: #dceaf8;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
.header-left h2 {
    padding-left: 10px;
}
.member-table {
    width: 100%;
    border: 2px solid #000000;
}
.member-table td {
    border:1px solid #000000;
}
.member-table-left {
    background-color: #c1c1c1;
    width: 150px;
}
.member-table-right {
}
.member-show-container {
    margin-top: 30px;
}
.member-showtable {
    width: 100%;
    border: 2px solid #000000;
}
.member-showtable th, td {
    border:1px solid #000000;
}
.member-showtable-header {
    background-color: #c1c1c1;
}
.member-showtable-body {
}

.submit-order {
    border:none;
    background-color: #c1c1c1;
}
.submit-order:hover {
    cursor: pointer;
}